body {
  margin: 0;
  padding: 0;
}

.list a {
  font-size: 16px;
  text-decoration: none;
}

.navigation1 {
  width: 100%;
  height: 100px;
  background-color: #9f9f9e;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav1 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
  font-size: large;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.logo img {
  height: 100px;
}

.btn {
  border: 2px black solid;
  padding: 6px;
  color: #000;
}

.btn:hover {
  background-color: rgb(4, 4, 4);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name1 {
  font-family: "Jockey One", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-decoration: none;
  width: 230px;
  margin-left: 20px;
}

.text1 {
  margin-top: 100px;
}

.menu-about1 {
  display: flex;
  justify-content: space-between;
}

.menu-text1 {
  width: 40%;
  margin: auto;
  font-family: "JetBrains Mono", monospace;
  font-size: large;
}

.menu-img {
  width: 40%;
  margin: 20px;
}

.img {
  border-radius: 8px;
}

.menu-head1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.menu-btn1 {
  width: 180px;
  text-align: center;
  justify-content: center;
}

.btn:hover {
  color: white;
}

.cart-img1 img {
  width: 65px;
  height: 65px;
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;

  li {
    list-style-type: none;
    padding: 8px;

    .list-item {
      position: relative;
      display: block;
      padding: 4px 0;
      color: #000000;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.8s;

      &::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        background: #0a0a0a;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.6s;
      }

      &:hover {
        color: #000000;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
}
