.card {
  margin: auto;
  border: transparent;
  display: flex;
  justify-content: space-between;
}

.cart {
  background-color: #fcfcfc;
  padding: 3vh;
  width: 70%;
}

.summary {
  background-color: #ddd;
  padding: 4vh;
  color: rgb(65, 65, 65);
  width: 400px;
  height: 100vh;
}

.title b {
  font-size: 2rem;
}

.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  padding: 12px;
}

.img {
  display: flex;
  height: 145px;
  width: 140px;
  justify-content: center;
}
.titles {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  font-size: 22px;
}

.item-title {
  width: 50%;
}

.item-info {
  display: flex;
  width: 50%;
}

.item-name {
  font-size: 18px;
  font-weight: bold;
}

.item-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12px;
}

.summary-title {
  font-size: 30px;
  padding: 12px;
  font-weight: bold;
}

.promo {
  width: 60%;
  height: 35px;
  border: 2px solid;
  margin-top: 15px;
}

.apply {
  width: 70px;
  height: 41px;
  border: none;
  background: black;
  color: white;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.shipping {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.taxes {
  display: flex;
  justify-content: space-between;
}

.estimated-total {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.checkout-btn button {
  width: 100%;
  height: 50px;
  font-family: "jetbrains mono";
  font-size: large;
  background: black;
  color: white;
  border: none;
  margin-top: 15px;
}

.checkout-btn button:hover {
  background: #ffe40b;
  color: black;
  font-weight: bold;
}

.item-description {
  font-size: 12px;
}

.item-quantity {
  font-size: 14px;
  margin: 12px;
}

.total-price {
  margin-right: 12px;
}

.hr {
  margin-top: 15px;
}

.item-count {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.plus-btn {
  width: 30px;
  height: 30px;
  border: none;
  background: #ffe40b;
}

.minus-btn {
  width: 30px;
  height: 30px;
  border: none;
  background: #ffe40b;
}

.plus-btn:hover,
.minus-btn:hover {
  background: black;
  color: white;
}

.delete-btn {
  font-family: "jetbrains mono";
  width: 92px;
  height: 26px;
  border: none;
  background-color: black;
  color: #ffffff;
}

.delete-btn:hover {
  background-color: #ffe40b;
  color: black;
}

.shpooing-cart-title {
  margin-top: 0px;
}

.order-row {
  display: flex;
  align-items: center;
}

.my-orders {
  margin-left: 148px;
}

.my-orders-btn {
  width: 90px;
  height: 40px;
  border: none;
  background-color: black;
  color: white;
  font-family: "JetBrains Mono", monospace;
}

.my-orders-btn:hover {
  background-color: #ffe40b;
  color: black;
}
