.wrapper1 {
  margin: 20px;
}

.offer-info1 {
  margin-top: 20px;
  position: relative;
  width: 450px;
  height: 300px;
  display: flex;
  flex-direction: column;
  float: left;
  border-radius: 10px;
}

.image1 img {
  margin-top: 20px;
  position: relative;
  width: 100%; /* Adjust this according to your layout */
  overflow: hidden;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}

/* .img1 img {
  width: 100%;
  height: 350px;
  object-fit: cover;
} */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Adjust the transparency as needed */
  align-items: center;
  color: #ffffff;
  opacity: 3;
  transition: opacity 0.3s ease;
}

.offer-text {
  text-align: center;
  margin-top: 40px;
  margin-left: 40px;
}

.offer-text h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 800;
}

/* Additional styling if needed */
