.order-summary {
  width: 75%;
  margin: auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
  background-color: rgb(223, 223, 219);
}

.itemprice,
.itemquantity,
.itemid,
.itemdate {
  padding: 10px;
}

.itemprice-green {
  cursor: pointer;
  color: rgb(92, 202, 92);
  padding: 10px;
  margin: 10px;
  width: 120px;
  height: 20px;
  text-align: center;
  background-color: #9f9f9e;
}

.itemprice-red {
  cursor: pointer;
  color: red;
  padding: 10px;
  margin: 10px;
  width: 120px;
  height: 20px;
  text-align: center;
  background-color: #9f9f9e;
}

.itemprice-yellow {
  cursor: pointer;
  color: gold;
  padding: 10px;
  margin: 10px;
  width: 120px;
  height: 20px;
  text-align: center;
  background-color: #9f9f9e;
}

.order-title {
  text-align: center;
  padding: 10px;
  font-size: large;
}

.total {
  text-align: center;
}

.paynow {
  text-align: center;
}

.separator {
  color: white;
  border: none;
}

.itemname {
  padding: 10px;
  align-items: left;
}

.order-header {
  width: 75%;
  padding: 20px 0px 10px 0px;
  margin: auto;
  display: flex;
  align-items: start;
  justify-content: space-around;
  font-size: larger;
  font-weight: bold;
}

.searchbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.search {
  width: 280px;
  height: 34px;
  border: 1px solid black;
  font-family: "jetbrains mono";
}

.flex-item:nth-child(1) {
  width: 25%;
}

.flex-item:nth-child(2) {
  width: 15%;
}

.flex-item:nth-child(3) {
  width: 20%;
}

.flex-item:nth-child(4) {
  width: 10%;
}

.flex-item:nth-child(5) {
  width: 15%;
}
