.offers-tital {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin: 20px;
}

.offers {
  display: flex;
  justify-content: center;
}

.offers img{
  width: 450px;
  height: 300px;
  margin: 20px;
}

