.add-offer-ontainer{
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .add-offer-ontainer form{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 420px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  .add-offer-ontainer form h2{
    text-align: center;
  }
  .add-offer-ontainer form input{
    font-size: 18px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .add-offer-ontainer form label{
    font-size: 18px;
  }
  .add-offer-ontainer form .uploadBox{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 60px;
  }
  #image{
    display: none;
  }
  .add-offer-ontainer form .uploadBox img{
    height: 80%;
    width: 80%;
    border-radius: 5px;
  }
  .add-offer-ontainer form .offer-image-label-container .offer-image-label{
    text-align: center;
  }
  .add-offer-ontainer form .offer-image-label-container{
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .add-offer-ontainer form .btn2-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .add-offer-ontainer form .btn2-container .btn2{
    display: inline-block;
    height: 40px;
    width: 160px;
    box-sizing: border-box;
    border: transparent;
    font-family: "JetBrains Mono", monospace;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #010101;
    background-color: #fffb0be8;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
  }
  .add-offer-ontainer form .btn2-container .btn2:hover{
    background-color: #010101;
    color: #fffffffb;
  }