.addContainer{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .addContainer form{
    width: 420px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  .addContainer form input{
    font-size: 18px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .addContainer form label{
    font-size: 18px;
  }
  .addContainer form button{
    background-color: blue;
    color: white;
    font-weight: 550;
    margin-top: 20px;
  }
  .uploadBox{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 60px;
  }
  #image{
    display: none;
  }
  .uploadBox img{
    height: 80%;
    width: 80%;
    border-radius: 5px;
  }
  .btn{
    border: none;
    padding: 7px 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  .food-image-label{
    text-align: center;
  }
  .food-image-label-container{
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }